.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-contents
      .chat-main__group-info__left-contents__group-name
        test
      .chat-main__group-info__left-contents__member-name
        Membarname: まさお
    .chat-main__group-info__right-contents
      .chat-main__group-info__right-contents__children
        %button edit
  .chat-main__message-list
    .chat-main__message-list__contents
      .chat-main__message-list__contents__user-info
        .chat-main__message-list__contents__user-info__name
          まさお
        .chat-main__message-list__contents__user-info__date
          2019/12/07(Sat) 15:26:00
      .chat-main__message-list__contents__message
        まさおは今おきました。
    .chat-main__message-list__contents
      .chat-main__message-list__contents__user-info
        .chat-main__message-list__contents__user-info__name
          まさお
        .chat-main__message-list__contents__user-info__date
          2019/12/07(Sat) 18:26:00
      .chat-main__message-list__contents__message
        まさおは夕食にいきます。
  .chat-main__message-form
    .chat-main__message-form__input-box
      .chat-main__message-form__input-box__left-text
        %input{type: "text", placeholder: "type a message", class: "chat-main__message-form__input-box__left-text__textbox-length"}
      %label{class: "chat-main__message-form__input-box__right-img"}
        = icon('fas', 'image')
        %input{type: "file", class: "chat-main__message-form__input-box__right-img__hide"}
    .chat-main__message-form__btn
      send