.chat-main
  .__group-info
    .__left-contents
      .__group-name
        test
      .__member-name
        Membarname: まさお
    .__right-contents
      .__children
        %button edit
  .__message-list
    .__contents
      .__user-info
        .__name
          まさお
        .__date
          2019/12/07(Sat) 15:26:00
      .__message
        まさおは今おきました。
    .__contents
      .__user-info
        .__name
          まさお
        .__date
          2019/12/07(Sat) 18:26:00
      .__message
        まさおは夕食にいきます。
  .__message-form
    .__input-box
      .__left-text
        %input{type: "text", placeholder: "type a message", class: "__textbox-length"}
      %label{class: "__right-img"}
        = icon('fas', 'image')
        %input{type: "file", class: "__hide"}
    .__btn
      send