.side-bar
  .__user-name
    .top-items
      .__name
        まさお
      .__icons
        = link_to "#", class: "icon-color" do
          = icon('far', 'edit')
        %span<>
        = link_to "#", class: "icon-color" do
          = icon('fa', 'cog')
  .__group-list
    .__group-name
      techexpert
    .__group-message
      まだメッセージがありません。